<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>enquiry</servlet-name>
        <servlet-class>enquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlogin</servlet-name>
        <servlet-class>userlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>u_register</servlet-name>
        <servlet-class>u_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enquiry</servlet-name>
        <servlet-class>Enquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isseu</servlet-name>
        <servlet-class>isseu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ad_register</servlet-name>
        <servlet-class>ad_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ad_login</servlet-name>
        <servlet-class>ad_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ad_cat</servlet-name>
        <servlet-class>Ad_cat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_package</servlet-name>
        <servlet-class>Add_package</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_subcat</servlet-name>
        <servlet-class>Add_subcat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_tours</servlet-name>
        <servlet-class>Add_tours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_Login</servlet-name>
        <servlet-class>U_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>demo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>enquiry</servlet-name>
        <url-pattern>/enquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlogin</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>u_register</servlet-name>
        <url-pattern>/u_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enquiry</servlet-name>
        <url-pattern>/Enquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isseu</servlet-name>
        <url-pattern>/isseu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ad_register</servlet-name>
        <url-pattern>/ad_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ad_login</servlet-name>
        <url-pattern>/ad_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ad_cat</servlet-name>
        <url-pattern>/Ad_cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_package</servlet-name>
        <url-pattern>/Add_package</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_subcat</servlet-name>
        <url-pattern>/Add_subcat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_tours</servlet-name>
        <url-pattern>/Add_tours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_Login</servlet-name>
        <url-pattern>/U_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
